<div class="mb-5">
    <h2 style="margin-bottom: -10px;">Expérience</h2>
    <div class="d-flex align-items-center">
        <small class="me-2">Pour plus de détails</small>
        <div class="social-icons">	
            <a target="_blank" href="https://fr.linkedin.com/in/guillaume-goubel-b26536120?trk=profile-badge">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="28x28" fill="#0072b1" class="mercado-match" width="40" height="40" focusable="false">
                    <path d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.3 6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 14.19a.66.66 0 000 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z">
                    </path>
                </svg>
            </a>
        </div>
        <i class="fa-solid fa-arrow-pointer more-arrow-linkedin"></i>
    </div>
</div>

{# KONNEKT #}
<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
    <div class="flex-grow-1">
        <h3 class="mb-0">Développeur Web</h3>
        <div class="subheading mb-3">KONNEKT</div>
        <p>Développeur web <strong>full-stack</strong> : PHP - Symfony - MySQL - Git</p>
        <ul>
            <li><strong>Pour les professionnels</strong> : suivis de ventes et d'interventions en SaaS</li>
            <li><strong>Pour les particuliers</strong> : plate-forme de streaming vidéos et site de e-learning</li>
        </ul>
    </div>
    <div class="flex-shrink-0"><span class="text-primary experience-dates">2019 - Actuellement</span></div>
</div>

{# Responsable QSE #}
<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
    <div class="flex-grow-1">
        <h3 class="mb-0">Responsable QSE</h3>
        <div class="subheading mb-3">Bombardier / IFTH / Connect</div>
        <p><strong>Salarié</strong> en Qualité Sécurité Environnement : Système Qualité - Contrôle Qualité - Evaluation des risques </p>
    </div>
    <div class="flex-shrink-0"><span class="text-primary experience-dates">2010 - 2019</span></div>
</div>

{# Conseil QSE #}
<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
    <div class="flex-grow-1">
        <h3 class="mb-0">Consultant QSE</h3>
        <div class="subheading mb-3">Conseil QSE <small class="small-custom">(fondateur)</small></div>
        <p><strong>Dirigeant & Consultant</strong> en Qualité Sécurité Environnement : Conseil - Formation - Préparation aux certifications </p>
    </div>
    <div class="flex-shrink-0"><span class="text-primary experience-dates">2016</span></div>
</div>