{% extends 'base.html.twig' %}

{% block title %}BO{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('admin_home') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('admin_home') }}
{% endblock %}

{% block body %}
	    
	<!-- Navigation-->
	{% include "admin/partials/nav.html.twig" %}

	<!-- Page Content-->
	<div class="container p-0">
	</div>

{% endblock %}
