{% extends 'base.html.twig' %}

{% block title %}BO{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('admin_home') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('admin_home') }}
{% endblock %}

{% block body %}
	    
	<!-- Navigation-->
	{% include "admin/partials/nav.html.twig" %}

	<!-- Page Content-->
	<div class="container p-0">

		<section class="resume-section">

			{# <form method="post">
				<textarea id="summernote" name="editordata"></textarea>
			</form> #}

			<table class="table">
				
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">First</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">1</th>
						<td>Mark</td>
					</tr>
					<tr>
						<th scope="row">2</th>
						<td>Jacob</td>
					</tr>
					<tr>
						<th scope="row">2</th>
						<td>Jacob</td>
					</tr>
				</tbody>
			</table>

		</section>

	</div>

{% endblock %}
