<h2 class="mb-5">Compétences</h2>
<div class="subheading mb-3">Languages et outils</div>
<ul class="list-inline dev-icons">
    <li class="list-inline-item"><i class="fa-brands fa-symfony"></i></li>
    <li class="list-inline-item"><i class="fa-brands fa-php"></i></li>
    <li class="list-inline-item"><span id="twig-language">Twig</span></li>
    <li class="list-inline-item"><i class="fa-brands fa-stripe"></i></li>
    <li class="list-inline-item"><i class="fa-brands fa-paypal"></i></li>
    <li class="list-inline-item"><i class="fa-brands fa-google"></i><span id="sub-google-map">maps dev.</span></li>
    <li class="list-inline-item"><i class="fab fa-html5"></i></li>
    <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
    <li class="list-inline-item"><i class="fab fa-sass"></i></li>
    <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
</ul>

<div id="skills-worflow" class="subheading mb-3 mt-3">Processus de travail</div>
<ul class="fa-ul mb-0">
    <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        Mobile-First, Design reponsive
    </li>
    <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        Cahier des charges fonctionnel & cycle du produit
    </li>
    <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        Méthode Agile
    </li>
    <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        Plan Do Check Act
    </li>

</ul>