@charset "UTF-8";
@import "_project_cards";
/*!
 * Main
 */
#project-abstract-container{
    padding-bottom: 0rem;
    padding-top: 5rem;
    min-height: inherit;
}

.more-arrow{
    cursor: pointer;
    position: relative;
    right: -3px;
    top: -2px;
    color: #3E70AC!important;
}

#langage-choice-list{

    display: flex;
    align-items: center;
    justify-content: flex-start; 

    >#language-choice-select{
        width: 65px;
        border: none;
        background-color: var(--bs-secondary-rgb);

        &:focus{
            box-shadow: none;
        }
    }

}

#theme-switch{
    
    margin-left: 20px;
    cursor: pointer;

    .form-check-input{
        box-shadow: none;
    
        &:checked {
            background-color: #000;
            border-color: white;
        }
    }
}

.small-custom{
    font-size: 15px;
    text-transform: lowercase;
}

#skills-worflow{
    margin-top: 50px!important;
}

/*!
 * Icons / typography
 */
.fa-google{
    font-size: 35px;
}

#sub-google-map{
    font-size: 11px;
}

#twig-language{
    font-family: IBM Plex Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    line-height: 1.7;
    letter-spacing: -.02em;
    font-weight: 600;
    font-size: 28px;
    position: relative;
    bottom: 11px;
}

@media only screen and (min-width: 768px) {
    #langage-choice-list{
        justify-content: center!important;
    }
}