
#project-abstract{
    padding-bottom: 0rem;
    padding-top: 1rem;
    min-height: inherit;
}

#about{
    padding-top: 2rem;
    background-color: var(--bs-primary-rgb) ;
}

#infos{
    min-height: inherit;
}

#more-infos-container{

    top:-10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 70px;    
    text-align: center;
    font-size: 16px;
    color: #fff;
    border: 3px solid var(--bs-primary);
    cursor: pointer;
    
    >#more-infos-btn{
    
        cursor: pointer;
        font-size: 19px;
    
        &:hover {
            color: var(--bs-primary-rgb);
        }
    }

}

#about-complement-dot{
    cursor: pointer;
    position: relative;
    right: -2px;
    top: 2px;

    &:hover{
        color: #669BBC;
    }
}

#navbarResponsive{

    #langage-choice-list{

        display: flex;
        align-items: center;
        justify-content: flex-start; 
        margin-top: 20px;

        >#language-choice-select{
            width: fit-content;
            border: none;
            background-color: #33596D;

            &:focus{
                box-shadow: none;
            }
        }

    }

}

#theme-switch{
    
    margin-left: 20px;
    cursor: pointer;

    .form-check-input{
        box-shadow: none;
    
        &:checked {
            background-color: #000;
            border-color: white;
        }
    }
}

.small-custom{
    font-size: 15px;
    text-transform: lowercase;
}

@media only screen and (min-width: 768px) {
    #langage-choice-list{
        justify-content: center!important;
    }
}

