
#project-abstract{
    padding-bottom: 0rem;
    padding-top: 5rem;
    min-height: inherit;
}

#about-complement-dot{
    cursor: pointer;
    position: relative;
    right: -2px;
    top: 2px;

    &:hover{
        color: #669BBC;
    }
}

#langage-choice-list{

    display: flex;
    align-items: center;
    justify-content: flex-start; 

    >#language-choice-select{
        width: 65px;
        border: none;
        background-color: #33596D;

        &:focus{
            box-shadow: none;
        }
    }

}

#theme-switch{
    
    margin-left: 20px;
    cursor: pointer;

    .form-check-input{
        box-shadow: none;
    
        &:checked {
            background-color: #000;
            border-color: white;
        }
    }
}

.small-custom{
    font-size: 15px;
    text-transform: lowercase;
}

@media only screen and (min-width: 768px) {
    #langage-choice-list{
        justify-content: center!important;
    }
}

