<h2 class="mb-5">Education</h2>
<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
    <div class="flex-grow-1">
        <h3 class="mb-0">Opquast®</h3>
        <div class="subheading mb-1">Quality control in web projects</div>
        <div>Know best practices and prevent risks for web applications</div>
        <a href="{{ asset('data/pdf/opquast.pdf') }}" class="mt-2 d-flex align-items-center">
            <i class="fa-solid fa-file-pdf cv-pdf-logo me-2"></i>            
            <div>850 / 1000</div>
        </a>
    </div>
    <div class="flex-shrink-0"><span class="text-primary experience-dates">2019</span></div>
</div>
<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
    <div class="flex-grow-1">
        <h3 class="mb-0">WebForce 3</h3>
        <div class="subheading mb-1">WEB integration and developement</div>
        <div>Proficiency in technical web integration skills for the development of websites and web applications.</div>
        <p class="mt-2">BAC +2</p>
    </div>
    <div class="flex-shrink-0"><span class="text-primary experience-dates">2018</span></div>
</div>

<div class="d-flex flex-column flex-md-row justify-content-between mb-4">
    <div class="flex-grow-1">
        <h3 class="mb-0">CESI, Engineering School</h3>
        <div class="subheading mb-1">Master's Degree in Quality, Safety, and Environmental Management.</div>
        <p>BAC +6</p>
    </div>
    <div class="flex-shrink-0"><span class="text-primary experience-dates">2010 - 2011</span></div>
</div>

<div class="d-flex flex-column flex-md-row justify-content-between mb-4">
    <div class="flex-grow-1">
        <h3 class="mb-0">University of Lille</h3>
        <div class="subheading mb-1">Economics and Sustainable Development Management</div>
        <p>BAC +5</p>
    </div>
    <div class="flex-shrink-0"><span class="text-primary experience-dates">2006 - 2008</span></div>
</div>