<div class="text-justify">

    <p>
        Bonjour,
    </p>

    <p>
        Je suis un développeur web chevronné 
        qui se passionne pour la création d'applications pour 
        les entreprises et les logiciels grand public.
    </p>

    <p>
        Avec une expérience confirmée en développement front-end et back-end, 
        je suis avant tout un codeur enthousiaste qui aime résoudre des problèmes complexes 
        et transformer des besoins en réalité numérique. 
        
        <span id="about-complement-dot" class="more-arrow hidden">
            ... <span class="more-invitation">voir plus</span> 
        </span>

    </p>

    <div id="about-complement-container">

        <p>	
            J'ai eu la chance de travailler sur un large éventail de projets, 
            de la conception de sites web d'entreprise élégants à la création 
            d'applications grand public innovantes. 
        </p>	
            
        <p>	
            En tant qu'ancien responsable qualité, je garde toujours à l'esprit l'importance 
            de la fiabilité, de la robustesse et de l'expérience utilisateur. 
        </p>	

        <p>		
            De plus, j'ai dirigé des petites équipes de développeurs à distance, coordonnant 
            nos efforts pour créer des produits sur-mesure. Mon rôle de liaison directe avec 
            les clients a également été essentiel pour élaborer des cahiers des charges précis 
            et pour assurer une communication fluide tout au long du cycle de développement.
        </p>

        <p>		
            Enfin, je suis un fervent partisan de l'amélioration continue. J'attache une grande importance 
            à l'écoute des retours des utilisateurs et des clients pour améliorer constamment les produits 
            que je développe. 
        </p>

    </div>

    <p>	
        Si vous recherchez un développeur web passionné, compétent et axé sur la qualité, prêt à coder 
        les solutions dont vous avez besoin, je serais ravi de discuter de la manière 
        dont je peux contribuer à vos projets. 
    </p>	
        
    <p>	
        N'hésitez pas à me contacter pour en savoir plus.
    </p>

</div>

<span class="badge bg-primary">BackEnd</span>
<span class="badge bg-primary">FrontEnd</span>
<span class="badge bg-primary">Gestion de projets</span>
<span class="badge bg-primary">Gestion documentaire</span>
<span class="badge bg-primary">Manager</span>

