<div class="text-justify">

    <p>
        Hello,
    </p>

    <p>
        I am an experienced web developer who is passionate 
        about creating applications for businesses and consumer 
        software.
    </p>

    <p>
        With a proven track record in both front-end and back-end development,
        I am first and foremost an enthusiastic coder who enjoys solving 
        complex problems and turning requirements into digital reality. 

        <span id="about-complement-dot" class="more-arrow hidden">
            [<i class="fa-solid fa-ellipsis"></i>]
            <i class="fa-solid fa-arrow-pointer"></i>
        </span>

    </p>

    <div id="about-complement-container">

        <p>	
            I have had the opportunity to work on a wide range of projects, 
            from designing elegant corporate websites to creating innovative consumer applications.
        </p>	
            
        <p>	
            As a former quality manager, I always prioritize the importance of reliability, 
            robustness, and user experience. 
        </p>	

        <p>		
            Furthermore, I have led small teams of talented developers, 
            coordinating our efforts to create exceptional products. 
            My role as a direct liaison with clients has also been 
            crucial in crafting precise project specifications and 
            ensuring smooth communication throughout the development 
            cycle.
        </p>

        <p>		
            Lastly, I am a strong advocate for continuous improvement. 
            I place great importance on listening to user and client 
            feedback to continually enhance the products I develop.
        </p>

    </div>

    <p>	
        If you are seeking a passionate, skilled web developer who focuses on quality 
        and is ready to code the solutions you need, 
        I would be delighted to discuss how I can contribute 
        to your projects.
    </p>	
        
    <p>	
        Please do not hesitate to contact 
        me for more information.
    </p>

</div>

<span class="badge bg-primary">BackEnd</span>
<span class="badge bg-primary">FrontEnd</span>
<span class="badge bg-primary">Gestion de projets</span>
<span class="badge bg-primary">Gestion documentaire</span>
<span class="badge bg-primary">Manager</span>