<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">A propos</a></li>
<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Expérience</a></li>
<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Certifications</a></li>
<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Compétences</a></li>
<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Intérets</a></li>
<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#awards">Projets</a></li>