<li class="nav-item" id="project-abstract-menu"><a class="nav-link js-scroll-trigger" href="#project-abstract-container">Le site</a></li>
<li class="nav-item active"><a class="nav-link js-scroll-trigger" href="#about" id="project-about-menu">Présentation</a></li>
<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Expérience</a></li>
<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Certifications</a></li>
<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Compétences</a></li>
<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#awards">Projets</a></li>
<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Intérets</a></li>
<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#qse">Profil QSE</a></li>