<h2 class="mb-5">Profil QSE</h2>
<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
    <div class="flex-grow-1">
        <a href="https://viadeo.journaldunet.com/p/guillaume-goubel-responsable-qse-4830050"><div class="subheading mb-1">Lien vers mon profil QSE sur Viadeo</div></a>
        <div>Ci-dessus en détails mes expériences en tant que responsable <strong>Q</strong>ualité <strong>S</strong>écurité <strong>E</strong>nvironnement</div>
    </div>
    <div class="flex-shrink-0"><span class="text-primary experience-dates">2010-2018</span></div>
</div>