<h2 class="mb-5">Projects</h2>
				
<div class="content">
    
    <div class="card">
        <div class="img">
            <img src="https://daily-mix.scdn.co/covers/time-capsule/time-capsule-blue_DEFAULT-es.jpg">
            <button>
                <svg height="16" role="img" width="16" viewBox="0 0 24 24" aria-hidden="true">
                    <polygon points="21.57 12 5.98 3 5.98 21 21.57 12" fill="currentColor"></polygon>
                </svg>
            </button>
        </div>
        <div class="textos">
            <h2>Tu cápsula del tiempo</h2>
            <p>Te hemos hecho<br> una lista de reproducción</p>
        </div>
    </div>

</div>